.total {
  height: 100vh;
  overflow: hidden;
}
#pic {
  width: 100%;
}
.btn {
  background: #000000;

  border-radius: 15px;
}
.signin {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;

  color: #ffffff;
}
.title {
  font-weight: bolder;
  font-size: xx-large;
}
input {
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.05);
  font-size: 20px;
  border: 1px black;
  outline: 1px;
}
input:focus {
  outline: none !important;
}
